<nav class="nav nav-bar navbar-fixed-top d-flex justify-content-between align-items-center container-fluid">
  <div style="padding-left:70px;"0>
    <%= link_to image_tag("logo.svg", size: "135x50"), root_path %>
  </div>

  <div class="d-flex">
    <div class="col-10">
      <div class="">
        <%= link_to fa_icon("square", class: "text-white"), root_path %>
      </div>
      <p><%= t("home.my_requests") %></p>
    </div>
    <div class="text-light">
      <span><%= link_to fa_icon("cart-plus", class: "text-white"), root_path %></span>
      <p><%= t("home.kart") %></p>
    </div>
  </div>

  <div class="">
    <span><%= link_to "Login", root_path %></span>
  </div>
</nav>