<div class="container">
  <div>
    <div class="col-10 d-flex justify-content-between bg-alert">
      <div class=" d-flex flex-column align-items-center justify-content-between">
        <%= image_tag ("rotulos-etiquetas.png"), size:"226x250" %>
        <p><%= t"home.rotules" %></p>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <p class="justify-content-end float-right"><%= t"home.set_rotules" %></p>
        <%= link_to do %>
          <button class="btn btn-primary"><%= t"home.choose" %></button>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <div>
    <div class="col-10 d-flex justify-content-between bg-alert">
      <div class=" d-flex flex-column align-items-center justify-content-between">
        <%= image_tag ("rotulos-etiquetas.png"), size:"226x250" %>
        <p>text1</p>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <p class="justify-content-end float-right"><%= t"home.set_rotules" %></p>
        <%= link_to do %>
          <button class="btn btn-primary"><%= t"home.choose" %></button>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <div>
    <div class="col-10 d-flex justify-content-between bg-alert">
      <div class=" d-flex flex-column align-items-center justify-content-between">
        <%= image_tag ("rotulos-etiquetas.png"), size:"226x250" %>
        <p>text</p>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <p>text1</p>
        <%= link_to do %>
          <button class="btn btn-primary"><%= t"home.choose" %></button>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <div>
    <div class="col-10 d-flex justify-content-between bg-alert">
      <div class=" d-flex flex-column align-items-center justify-content-between">
        <%= image_tag ("rotulos-etiquetas.png"), size:"226x250" %>
        <p>text</p>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <p>text1</p>
        <%= link_to do %>
          <button class="btn btn-primary"><%= t"home.choose" %></button>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <div>
    <div class="col-10 d-flex justify-content-between bg-alert">
      <div class=" d-flex flex-column align-items-center justify-content-between">
        <%= image_tag ("rotulos-etiquetas.png"), size:"226x250" %>
        <p>text</p>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <p>text1</p>
        <%= link_to do %>
          <button class="btn btn-primary"><%= t"home.choose" %></button>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
</div>