<!DOCTYPE html>
<html>
  <head>
    <title>Webtoprint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="cntainer-fluid text-white">
      <%= render 'shared/header' %>
    </header>
    <%= yield %>
  </body>
</html>
